.App {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 2fr 0.1fr;
}

header {
  background-color: rgb(111, 163, 9);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 2rem 8rem;
  border-radius: 0 0 1rem 1rem;
  box-shadow: 0 4px 3px orangered;
  z-index: 1;
}

.text {
  font-size: 2rem;
  color: cornsilk;
  text-shadow: 2px 4px 3px orangered;
}

nav {
  display: flex;
}

ul {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 0 5rem;
  list-style-type: none;
}

li a {
  font-weight: bold;
  font-size: 1rem;
  color: whitesmoke;
  text-decoration: none;
}

li a:hover {
  color: yellow;
  cursor: pointer;
  text-decoration: underline;
}

Main {
  background-color: blanchedalmond;
  padding: 2rem;
  height: 80vh;
  text-align: center;
}

Main h1 {
  color: orangered;
  font-size: 3rem;
}

Main p {
  display: flex;
  flex-wrap: wrap;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0 10px;
}

footer {
  background-color: blueviolet;
  color: blanchedalmond;
  padding: 0;
  border-radius: 1rem 1rem 0 0;
  text-align: center;
  box-shadow: 0 -4px 3px orangered;
}