h1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: rgb(5, 80, 146);
    text-decoration: underline;
    letter-spacing: 10px;
    margin-bottom: 2rem;
}

h2 {
    padding: 0;
    margin: 5px;
}

ul {
    display: flex;
    justify-content: center;
}

ul li p {
    color: rgb(114, 114, 114);
    font-weight: bold;
    text-align: left;
    font-size: 1.2rem;
    width: 25vw;
    padding: 0;
    margin: 5px;
}